data/*
!data/external
data/external/*
!data/external/raw

!data/raw
data/raw/*
!data/raw/final_birds_list_with_no_mistakes.tar.xz

!data/interim
data/interim/*
!data/interim/taxonomy*
!data/interim/*.tre
!data/interim/species*.txt
!data/interim/scheme_*.nex


_data_mr
*.ipynb_checkpoints
*__pycache__
env*
evn*
*.Rhistory
